.container-mensagens {
    width: 70%;
    height: 640px;
    overflow:auto;
    display: flex;
    flex-direction: column-reverse;
}

.container-mensagem {
    background-color: #3b82f6;
    color: white;
    width:fit-content;
    max-width: 725px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.conteudo-mensagem{
    word-wrap: break-word;
    max-width: 700px;
}

.data-hora{
    font-size: 15px;
}