<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONS -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="app.component.scss" />

  <title>Sidebar</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="menu-btn" onclick="toggleSidebar()">
        <i class="ph-bold ph-caret-left"></i>
      </div>
      <div class="head">
        <div class="user-img">
          <img src="user.jpg" alt="" />
        </div>
        <div class="user-details">
          <p class="title">Administrador</p>
          <p class="name">Leonardo Coutinho</p>
        </div>
      </div>
      <div class="nav">
        <div class="menu">
          <ul>
            <li>
              <a href="#" class="active">
                <i class="icon ph-bold ph-house-simple"></i>
                <span class="text">Mensagens</span>
              </a>
            </li>

            <li>
              <a href="setor-detalhe.component.html">
                <i class="icon ph-bold ph-file-text"></i>
                <span class="text">Setores</span>
              </a>
            </li>
            <li>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
                  <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                  <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"/>
                </svg>
                <span class="text">Contatos</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon ph-bold ph-chart-bar"></i>
                <span class="text">Relatórios</span>
                <i class="arrow ph-bold ph-caret-down"></i>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="#">
                    <span class="text">Mensagens</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="text">Funds</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="text">Declines</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="text">Payouts</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu">
          <p class="title">Conta</p>
          <ul>
            <li>
              <a href="#">
                <i class="icon ph-bold ph-user"></i>
                <span class="text">Perfil</span>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon ph-bold ph-info"></i>
                <span class="text">Ajuda</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon ph-bold ph-sign-out"></i>
                <span class="text">Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="credits">
      <h1>
         <br />
       GL AUTOMAÇÃO
      </h1>
      <div class="head">
        <div class="side-img">
          <img width="200" height="200"
        src="user.jpg" alt="search--v1" />
        </div>
    </div>
  </div>

  <script>
    function toggleSidebar() {
      document.querySelector('.sidebar').classList.toggle('active');
    }
  </script>
