
<nav class="navbar bg-custom-gray text-white p-4" style="position: fixed; top: 0; left: 0; right: 100; z-index: 1000;">
<div class="container mx-auto flex items-center">
  <div>
    <a href="#" class="text-xl font-bold musicritica-button">Musicritica</a>
  </div>
  <div class="flex items-center ml-4 ">
    <a href="/descobrir" class="mr-4 nav-buttons"></a>
    <a href="/ranking" class="mr-4 nav-buttons"></a>
    <a href="/denuncia" class="mr-4 nav-buttons"></a>
  </div>
</div>
</nav>
<router-outlet></router-outlet>