<div class="flex-grow text-gray-800">
  <main class="p-6 sm:p-10 space-y-6">
    <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between items-center">
      <div class="mr-6">
        <h1 class="text-4xl font-semibold mb-2">Relatórios</h1>
        <h2 class="text-gray-600 ml-0.5">Gere relatórios</h2>
      </div>
    </div>
    <div class="bg-white p-8 rounded-md w-full">
      <div class="flex items-center justify-between pb-6">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div>
                  <div class="text-lg font-bold">Relatório de interações direcionadas para assistência humana</div>
                  <div class="text-sm text-gray-600 mt-1">Este relatório irá lhe fornecer as interações que necessitaram de intervenção humana para serem solucionadas, assim você poderá criar árvores de mensagens para estas interações.</div>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap"></p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Gerar relatório</button>
                </div>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div>
                  <div class="text-lg font-bold">Relatório de interações mais frequentes</div>
                  <div class="text-sm text-gray-600 mt-1">Mensagens mais enviadas por clientes, aqui você poderá visualizar quais são as principais dúvidas recebidas. </div>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap"></p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Gerar relatório</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
