.boasvindas-memssagem {
  text-align: left;
  font-size: 2rem; /* Aumenta o tamanho da fonte */
  font-family: 'Arial', sans-serif; /* Escolha uma fonte bonita */
  color: #1F2937; /* Cor do texto */
  margin-top: 30px;
  margin-left: 20px; /* Adiciona margem à direita */
}

.subtitulo-mensagem{
  text-align: left;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  color:grey;
  margin-left: 20px;;
}
